#cabeceraHablemos {
    background-image: url("../img/hablemos.png");
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: center;
    text-align: center;
    height: 300px;

}

#cabeceraHablemos h1 {
    color: white;
    padding: 1rem;
}

#seccionContacto {
    background-color: var(--secondary);
    padding: 2rem;
    display: flex;
    justify-content: center;

}

#contenidoContacto {
    width: 80%;
    display: flex;
    gap: 2rem;

}

form {
    width: 50%;
    margin-left: 1rem;
    background-color: var(--neutral);
    padding: 1rem;
    border-radius: 2rem;
}

label {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    color: white
}

input {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

#mensaje {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}

#mensaje ::placeholder {
    text-align: left;
}

Fieldset {
    border: none;

}

legend {
    font-size: large;
    color: white;
}

.boton-enviar {
  background-color: var(--secondary);
  color: white;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 16pt;
  width: 50%;
  align-items: center;
 }


iframe {
    width: 50%;
    height: auto;
    border-radius: 2rem;
}


@media (max-width:900px) {
    #seccionContacto {
        padding: 1rem;
        align-content: center;

    }

    iframe {
        display: none;
    }
}

@media (max-width:900px) {
    #seccionContacto {
        gap: 1rem;
        width: 100%;
    }

    iframe {
        width: 80%;
        border-radius: 1rem;

    }

    form {
        width: 100%;
    }
}

@media (max-width:800px) {

    #seccionContacto {
        display: flex;
        flex-direction: column;
    }

    #seccionContacto {
        width: 100%;

    }

}

@media (max-width:600px) {
    #cabeceraHablemos {
        height: 200px;
        gap: 1rem;
        flex-direction: column;
    }

    @media (max-width:400px) {
    #cabeceraHablemos {
        height: 130px;
        gap: 1rem;
        flex-direction: column;
    }

}