main {
    margin: 0rem;
}

#cabeceraExperiencia {
    background-image: url("../img/hablemos.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

}


#cabeceraExperiencia h1 {
    color: white;
    padding: 1rem;
}


/* Formacion Experiencia
*/
main{
    align-items: center;
}

.Experiencia {
    padding: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    gap: 1rem;
    align-items: center;
}

.experiencia-card {
    display: flex;
    align-content:center ;
    gap: 1rem;
    width: 70%;
}

.experiena-visual {
    width: 100%;
}

.Experiencia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.experiena-texto {
    width:100%;
    display: flex;
}