.cabecera {
    width: 100%;
    height: auto;
}

#contenido {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 6rem;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
    border-radius: 6rem;
    padding-bottom: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}



#hola {
    display: flex;
    justify-content: left;
}

#descripcion img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


#descripcion {
    display: flex;
    align-content: center;
    text-align: center;
    padding: 0;
}

#descripcionTexto {
    text-align: left;
    padding: 1rem;
}

.seccion {
    background-color: var(--neutral);
}

#programas {

    padding: 1rem;
    text-align: center;
    margin: 0px;

}

#programas h3 {
    color: white;
}

#programas p {
    color: white;
}

#software {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

.programa {
    border-radius: 20px;
    display: inline-block;
    margin: 1rem;
    background-color: white;

}

.programa img {
    margin-bottom: 1rem;
}

.programa h4 {
    color: var(--secondary);
}

#formacion {
    background-color: var(--secondary);
    align-content: center;
    text-align: center;
    width: 100%;

}

#iconoFormacion {
    align-content: space-between;
}

#formacion h2 {
    color: white;
}

.formacion-card {
    border-radius: 20px;
    display: inline-block;
    margin: 1rem;
}

.formacionTexto {
    color: white;
}



@media (max-width:768px) {
    #software {
        display: grid;
        grid-template-columns: 40% 40%;
    }

    #contenido {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;

    }

    #descripcion img {
        width: 60%;
        height: 60%;
    }
}

@media (Max-width:600px) {
    #descripcion {
        display: block;

    }



}

@media (max-width:475px) {
    #software {
        display: grid;
        grid-template-columns: 70%;
    }
}

