#cabecera_proyectos {
    background-image: url("../img/Proyectos.png");
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: center;
    text-align: center;
    height: 300px ;
}

#cabecera_proyectos h1 {
    color: white;
    padding: 1rem;
}

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    background-color: white;
    margin: 0;
    border-radius: 6rem;
    border-color: var(--neutral);
}

.project-card {
    background-color: white;
    display: grid;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    border-color: rgb(250, 249, 249);
    box-shadow: 0 0 10px rgb(160, 160, 160);
    background-color: 0 0 10px var(--neutral);
    justify-content: center;
}

.imagen-proyecto {
    width: 100%;
    border-radius: 10px;
}

button {
    color:white;
    background-color: var(--secondary);
    border-radius: 20px;
    border: none;
    padding: 1rem;
    justify-content: center;
    align-content: center;
}

.buttonCard {
    display: flex;
     justify-content: center;
}

@media (max-width:700px) {
    #project-list {
    grid-template-columns: 40% 40%;
}
}

@media (max-width:600px) {
    #cabecera_proyectos {
    height: 200px ;
}
}

@media (max-width:500px) {
    #project-list {
    grid-template-columns: 70%;
}
}

@media (max-width:300px) {
     #cabecera_proyectos {
    height: 150px ;
}
}